<div class="scrollmenu">
    <li class="card-group" *ngFor="let character of characters">
        <section class="card">
            <h1 class="header">{{character.name}}</h1>
            <img src={{character.image}} alt="image character">
            <h3>{{character.gender}}</h3>
            <h3>{{character.species}}</h3>
        </section>
    </li>
</div>
<div class="card-div">
    <section class="counters">
        <h1 class="title">Count Async Await</h1>
        <div *ngFor="let item of counter | keyvalue">
            <h3>Specie:{{item.key}}</h3>
            <h3>Number:{{item.value}}</h3>
        </div>
        <button (click)="getCharacters()">Generar</button>
    </section>
</div>